.gear-flex {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-around;
}

.gear-card {
  position: relative;
  overflow: hidden;
  width: 40%;
  margin: 5vh auto;
  max-width: 1140px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 20px 0 0 0;
  .clothes {
    background-color: #1dd6ad;
  }
  .shoes {
    background-color: #e66900;
  }
  .hats {
    background-color: #f0297e;
  }
}

.gear-remain {
  padding-top: 2vh;
  font-size: 1.3rem;
  font-family: "FOO", sans-serif;
}

.gear-warn {
  color: white;
  background-color: red;
  padding: 5px;
  line-height: 0.8;
  display: inline-block;
}

.gear-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  img {
    max-width: 100%;
    width: 35px;
  }
  span {
    padding-left: 10px;
  }
}

.gear-brand {
  position: absolute;
  top: 20px;
  left: 20px;
  img {
    max-width: 64px;
    max-height: 64px;
  }
}

.gear-pic {
  padding: 20px;
  img {
    min-width: 200px;
  }
}

.gear-skill {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20px;
  right: 20px;
  .mainSkill {
    background-color: #000;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    img {
      max-width: 100%;
    }
  }
  .sbuSkill {
    background-color: #000;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    img {
      max-width: 100%;
    }
  }
}

.gearName {
  padding: 15px 0;
  line-height: 1;
  font-family: "SPLATOON", sans-serif;
  font-size: 1.3rem;
  background: url("/images/bg/bg-stripes.png") repeat left top;
}
