.origin {
  background-color: #ff5600;
  background-image: url("/images/bg/bg.png");
  & > div {
    margin-top: 15px;
  }
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.salmon-remain {
  font-family: "splatoon", serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  padding: 10px;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 0;
  }
}
